html {
  background: black;
}

.Homepage {
  border-spacing: 0px;
  width: 100vw;
}

.About{
border-right-style: solid;
border-color: white
}

.Map{
  border-right-style: solid;
  border-left-style: solid;
  border-color: white
}

.Calendar{
  border-right-style: solid;
  border-left-style: solid;
  border-color: white
}

.Signup{
  border-right-style: solid;
  border-left-style: solid;
  border-color: white
}

.Homepage td {
  padding: 0px;
}

.WelcomeBar {
  display: flex;
  overflow: hidden;
}

.Logo {
  margin: 0.5em;
  float: left;
  width: auto;
  height: 150px;
}

.Skyline {
  display: block;
   margin-left: auto;
   margin-right: auto;
  width: 50%;
  height: 40%;
}

.NavBar {
  margin-top: 40px;
  display: flex;
}

.About p, .Map p, .Calendar p, .Signup p{
  font-family: Arial;
  font-size: 20px;
  color: white;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 40px;
}

.Background {
  width: 100vw;
  height: auto;
}

@media screen and (max-width: 667px) {
  .Logo {
    width: auto;
    height: 50px;
  }

  .Skyline {
    width: 60%;
    height: auto;
    float: center;

  }

  .About p, .Map p, .Calendar p, .Signup p{
    font-size: 5px;
  }

  .NavBar {
    display: block;
  }

}

/* .TopBar {
  display: flex;
  overflow: hidden;
  border-style: solid;
  border-width: 0px 0px 5px 0px;
  width: 100%;
  background: beige;
}

.Banner{
  display: flex;
  width: calc(100% - 270px);
  overflow: hidden;
}

.Logo {
  margin: 0.5em;
  float: left;
  width: auto;
  height: 150px;
}

.Greeting {
  font-size: 50px;
  font-style: italic;
  text-align: center;
  width: 100%;
  margin: auto;
}

.AccountButtons {
  float: right;
  text-align: right;
  width: 270px;
}

.SignupBox {
  background: lightgreen;
  padding: 0.5em;
}

.LoginBox {
  background: lightblue;
  padding: 0.5em;
}

.LogoutBox {
  background: red;
  padding: 0.5em;
}

.Background {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 667px) {
  .Logo {
    width: auto;
    height: 50px;
  }

  .Greeting {
    font-size: 25px;
    font-style: italic;
    text-align: center;
    width: 100%;
    margin: auto;
  }

  .AccountButtons {
    width: 100px;
  }

  .SignupBox, .LoginBox, .LogoutBox {
    font-size: 10px;

  }
} */
