html {
  background: grey;
}

.NavBar {
  margin-top: 40px;
  display: inline-flex;
}

.About p, .Map p, .Calendar p, .Signup p{
  font-family: Arial;
  font-size: 15px;
  color: white;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 5px;
}

.Banner {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.Logo {
  margin: 0.5em;
  float: left;
  width: auto;
  height: 150px;
}

.Greeting {
  font-size: 25px;
  font-style: italic;
  text-align: center;
  width: 100%;
  margin: auto;
  color: white;
}

.Background {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 667px) {
  .Logo {
    width: auto;
    height: 50px;
  }

  .Greeting {
    font-size: 25px;
    font-style: italic;
    text-align: center;
    width: 100%;
    margin: auto;
  }
}
