/* ===== CSS for everything ===== */
html {
  background: black;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y:auto;
}

/* ===== CSS for links ===== */
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #57b0be;
}

/* ===== CSS for scrollbar ===== */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-track:hover {
    background: rgba(255, 255, 255, 1);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 0 20px rgba(87, 176, 190, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(87, 176, 190);
}

/* ===== CSS for Homepage ===== */
#Homepage table {
  width: 100%;
  border-spacing: 0px;
}

#Homepage td {
  padding: 0px;
  vertical-align: bottom;
}

.Background {
  width: 100%;
  height: auto;
  border-bottom: 5px solid white;
}

/* ===== CSS for AboutUs ===== */
#AboutUs {
  background: white;
  padding: 50px;
  overflow: hidden;
}

#GeneralAboutUs {
  float: left;
  width: 30%;
}

#SpecificAboutUs {
  float: right;
  width: 70%;
}

/* ===== CSS for NavBar ===== */
#NavBorder {
  border-left: 5px solid white;
  border-right: 5px solid white;
}

#NavBar table {
  width: 100%;
  border-spacing: 0px;
  border-bottom: 5px solid white;
}

#NavBar td {
  padding: 0px;
  vertical-align: bottom;
}

/* ===== CSS for Logo ===== */
#Logo, #LogoHover {
  width: auto;
  height: 250px;
  float: left;
}

#LogoHover {
  display: none;
}

#Logo:hover {
  content: url('Logo.1-hover.png');
}

/* ===== CSS for Skyline ===== */
#Skyline {
  width: 100%;
  height: 100%;
  overflow: hidden;
  vertical-align: bottom;
}

/* ===== CSS for Links ===== */
#Links {
  width: auto;
<<<<<<< HEAD
=======
  margin-top: 40px;
  width: 320px;
>>>>>>> c3360899a0d78ae1b580b5216f675c92babca535
  display: flex;
  white-space: nowrap;
  border-top: 5px solid white;
}

#LinkBorder {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.Button {
  font-family: Arial;
  font-size: 30px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

/* ===== CSS for UserProfile ===== */
.UserProfileBox {
  color: white;
}

/* ===== CSS for SignupOrLogin ===== */
.AccountBoxes {
  float: right;
  text-align: right;
  width: 270px;
}

.SignupBox {
  background: lightgreen;
  padding: 0.5em;
}

.LoginBox {
  background: lightblue;
  padding: 0.5em;
}

<<<<<<< HEAD
/* ===== CSS for responsiveness of website ===== */
@media screen and (min-width: 375px) and (max-width: 1024px) {
  #Logo, #LogoHover {
=======
/* ===== CSS for MapOfEvents ===== */
#MapCalDes td {
  color: white;
  text-align: left;
  vertical-align: top;
}
#CalDes h1 h2 {
  font-style: italic;
  color: blue;
}

@media screen and (max-width: 1024px) {
  #Logo {
>>>>>>> c3360899a0d78ae1b580b5216f675c92babca535
    width: auto;
    height: 150px;
  }

  .Button {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  #Logo, #LogoHover {
    width: auto;
    height: 50px;
  }

  #Skyline {
    height: 50px;
  }

  #Links {
    display: block;
  }

  #LinkBorder {
    border: none;
  }

  .Button {
    font-size: 10px;
    padding: 0px;
    margin: 0px;
  }
}
